Korean Block Quiz App Requirements

[ ] = to do
[x] = done

Technical
T1 [x] Containerized Python Web app
T2 [x] Locally stored dictionary (tab separated values)
	T2.1 [x] If a block has multiple translations, those should be included
	T2.2 [x] Includes word frequency (how often this block is used as a word)
	T2.3 [x] Includes block frequency (how often the block appears in other words)
	T2.4 [x] Includes a calculated "overall frequency", let's start with the sum of the block and word frequenies
T3 [x] Add instructions to README on how to run (run docker...) and use the application

User stories
U1 [x] Allow me to select the total number of words to be quizzed on
U2 [x] Allow me to select the overall frequency slice, for example, if I choose 100 words to be quized on and I select slice 2, it will quiz me on the 101-200 most common word-blocks
U3 [x] Show me a list cards with single-block Korean words
U4 [x] Show me a list cards with the translations of each of the words in a random order
U5 [x] If I click on a correct block+translation card pair, gray out the pair of cards
U5 [x] If I click on an incorrect block+translation card pair, signal an error
U6 [x] Provide a button to reveal the correct translations for the unanswered blocks
U7 [x] After I've answered 5 correctly, remove the first 4 correct answers and replace them with new pairs, leaving the most recently answered pair

UX
X1 [x] Korean Block cards can be much narrower, just wide enough to accommodate the block
X2 [ ] Handling long translation, maybe trucate, but show entire text with when hovering

Bugs
B1 [x] After a successful selection, clicking a card gives a red indication, second click is fine
B2 [x] U7 not working as specified, instead a whole new set of blocks are added
B4 [x] When U7 occurs, some of the "Answers" are missing; they appear in the translation, but not the 

Enahancemnts
E1 [x] Create a new dictionary according to this plan
	E1.1 [x] Create a Python script that can be run in my Ubuntu on Windows 11 enviroment where I have the file kaikki.org-dictionary-Korean.jsonl
	E1.2 [x] Extract all the single-block words and their definitions from https://kaikki.org/dictionary/Korean/kaikki.org-dictionary-Korean.jsonl
	E1.3 [x] Reduce the definitions to comma separated English words or short phrases
		E1.3.1 [x] Remove "Short for" entries
		E1.3.2 [x] Remove entries that don't have a translation like 릉, 륵, 휴
		E1.3.2 [x] Remove other troublesome entries Grok identifies
		E1.3.4 [x] Remove Chinese characters or the entire entry if no English translation available
	E1.4 [x] Add a relative block frequency to each entry, where the frequency is based on how often the block appears in Korean texts
	E1.5 [x] Sort the entries by most frequent to least
	E1.6 [x] Update the quiz app to use this new table, only use the overall_freq for slices
E2	[x] Reorder the columns in the quiz app: Translation, Korean, Answer
E3	[x] More compact view, remove spaces between columns
E4	[x] Have the "Answers" column label only appear when pressing the "Reveal" button
E5	[ ] Indent the "Answers" text so it's not so close to the "Korean" text